<div class="col-md-10">

  <h1>
    {{title}}
  </h1>


  <h3 validadeForms>Torcida</h3>

  <!--nav-->
  <ul class="nav" [style.background]="'green'" >
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

</div>
