<div class="col-md-8">
  <h3>Sobre nós</h3>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis dignissimos minus atque accusamus iusto quas, natus aperiam ducimus consequatur adipisci suscipit, fuga aliquid neque, laudantium soluta veniam dolorum in.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam error at asperiores hic, tempore autem dicta assumenda, provident accusantium ad illum repellat earum architecto, voluptatum consequatur. Illo voluptatibus, natus explicabo.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi veniam temporibus dolorem. Aut, est, totam. Perferendis ad expedita corporis, impedit cupiditate? Facere esse itaque animi quod. Recusandae eligendi, ea nesciunt.
  </p>

</div>
